@model IEnumerable<Sistema_Inventario.Models.Categoria>

@{
    ViewData["Title"] = "ObtenerProductosPorCategoria";
}

<div class="text-center">
    <h4>Lista de Categoría  eliminadas<i class="bi bi-list-ul mx-2"></i></h4>
    <hr />
</div>

    @if (Model.Any())
    {
<div class="table">
        <table class="table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre categoria</th>
                    <th>Descripcion</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var producto in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => producto.Id)</td>
                        <td>@Html.DisplayFor(modelItem => producto.Nombre)</td>
                        <td>@Html.DisplayFor(modelItem => producto.Descripcion)</td>
                        <td>
                            <form asp-action="Restablecer" asp-controller="Categorias" method="post">
                                <input type="hidden" name="id" value="@producto.Id" />
                                <button type="submit" class="ms-2 btn btn-outline-secondary">
                                    <i class="bi bi-arrow-counterclockwise mx-2"></i>Restaurar
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
    }
else
{
<p>No hay registros</p>
}
